@import './Reset.scss';

// Variables
$bg-primary: #202225;
$bg-secondary: #2F3136;
$bg-tertiary: #36393E;
$brand-primary: #1DB954;
$brand-red: #D83C3E;
$placeholder-grey: #828282;
$text-color-light-primary: #E9ECEF;
$text-color-light-secondary: #CACACA;

$font-header-size: 32px;
$font-normal-size: 16px;
$font-body-size: 13px;
$font-small-caps-size: 12px;

$font-weight-normal: normal;
$font-weight-small-caps: 600;
$font-weight-header: 600;

$border-radius-btn: 7px;
$border-radius-primary: 10px;

$font-family-primary: 'Roboto', Arial, Helvetica, sans-serif;

$box-shadow-default: 0 5px 5px rgba(45, 45, 45, 0.5);

body {
    font-family: $font-family-primary;
    color: $text-color-light-primary;
    background-color: $bg-primary;
}

main {
    margin: 0 auto;
}

label {
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
}

a {
    color: $brand-primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

input {
    padding: 10px 7px;
    border: none;
    border-radius: $border-radius-btn;
    outline-color: $brand-primary;
    color: $text-color-light-primary;
    background-color: $bg-primary;
}

.header {
    text-align: center;
    font-size: $font-header-size;
}

.small-caps {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: $font-small-caps-size;
    font-weight: $font-weight-small-caps;
}

.card {
    margin: 0 auto;
    background-color: $bg-secondary;
    border-radius: $border-radius-primary;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 40px 60px 40px 60px;
    justify-content: center;
    align-items: center;
}

.divider {
    margin-top: 10px;
    position: relative;
    text-align: center;
    &::before, &::after {
        content: '';
        position: absolute;
        z-index: 0;
        top: 16px;
        width: 43%;
        height: 3px;
        background-color: $bg-tertiary;
    }
    
    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
    
    p {
        z-index: 1;
        width: unset;
        margin-top: 6px;
        font-weight: $font-weight-header;
        font-size: $font-normal-size;
    }
}

.card--register, .card--login {
    & * {
        width: 100%;
    }
}

.register__form, .login__form {
    & > :first-child {
        padding-top: 15px;
    }
}

button {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-btn;
    font-size: $font-normal-size;
    gap: 10px;
    cursor: pointer;

    &:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
        cursor: pointer;
    }

    &:active {
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
}

.btn {
    background-color: $brand-primary;
    padding: 12px 40px;
    min-width: 200px;
    border: 2px solid $brand-primary;
    color: $text-color-light-primary;

    img {
        height: 30px;
        width: 30px; 
    }

    &--primary {
        padding: 32px 95px;
        font-size: $font-header-size;
        font-weight: $font-weight-header;
    }
    
    &--grey {
        background-color: $bg-tertiary;
        border-color: $bg-tertiary;
    }
    
    &--red {
        background-color: $brand-red;
        border-color: $brand-red;
    }

    &--delete {
        &:hover {
            background-color: $brand-red;
            border-color: $brand-red;
        }
    }

    &--form {
        margin-top: 20px;
    }
    
    &--unfilled:not(:hover) {
        background-color: transparent;
    }

    &--decorative {
        &:hover {
            -webkit-filter: none;
            filter: none;
            cursor: default;
        }
    
        &:active {
            -webkit-filter: none;
            filter: none;
        }
    }

    &--pill {
        padding: 2px 12px;
        border: none;
        min-width: unset;
    }


}

.btn-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: transparent;

    img {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
    }
}

.btn-icon--outlined {
    width: 30px;
    height: 30px;
    border: 2px solid $text-color-light-secondary;

    img {
        min-width: 15px;
        min-height: 15px;
        max-width: 15px;
        max-height: 15px;
    }

    &:hover {
        background-color: $text-color-light-secondary;
        & > img {
            filter: invert(1);
        }
    }
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-tertiary;
    padding: 10px;
    gap: 10px;
    border-radius: $border-radius-primary;

    button {
        margin-left: auto;    
    }

    &__img {
        width: 35px;
        height: 35px;
    }

    &--personal {
        padding: 20px;
        gap: 20px;

        .person__img {
            width: 40px;
            height: 40px;
        }  
    }

    &__name {
        font-size: $font-normal-size;
        font-weight: $font-weight-header;
    }

    &__id {
        margin-top: -2px;
        font-size: $font-small-caps-size;
        letter-spacing: 0.1rem;
    }
}

.dashboard {
    display: flex;
    gap: 30px;
    &__sidebar {
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.sidebar {
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: $border-radius-primary;
    background-color: $bg-secondary;

    & > * {
        width: 100%;
    }
}

.game-comparison {
    background-color: $bg-secondary;
    border-radius: $border-radius-primary;
    width: 100%;
    padding: 20px;
}

.game {
    background-color: $bg-tertiary;
    border-radius: $border-radius-primary;
    padding: 10px;
    display: flex;
    max-width: 920px;
    gap: 10px;
    box-shadow: $box-shadow-default;

    &__img {
        width: 282px;
        height: 132px;
        border-radius: $border-radius-primary;
    }
    &__info {
        margin-left: 10px;
    }
    &__name {
        font-size: $font-header-size;
        margin-bottom: 10px;
    }
    &__platforms {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;

        img {
            max-width: 16px;
            max-height: 16px;
        }
    }
}

.platform {
    text-transform: capitalize;

    &--switch {
        background-color: #e60012;
    }

    &--steam {
        background-color: #1B2838;
    }
}