html, body {
	padding: 0 !important;
	margin: 0 !important;
	height: 100vh !important;
	width: 100vw !important;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: unset;
}

h2 {
	margin-top: 2em;
}

#toc {
	margin-left: 15px;
	margin-right: 7px;
	border-right: solid white 1px;
	padding-right: 7px;
}

#toc li {
	white-space: nowrap;
}

#content {
	overflow-y: auto;
	padding: 5px;
	padding-bottom: 50px;
}